.grid-button {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 78%;
}

.calculator {
  width: 450px;
  height: 600px;
  background-color: #40668b;
  border: 5px solid black;
  padding: 15px;
  border-radius: 15px;
  box-sizing: border-box;
}


